@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

:root {
  /* Dark mode colors */
  --background-dark: 40, 43, 48;
  --text-dark-color: 206, 206, 206;
  
  /* Light mode colors */
  --background-light: 206, 206, 206;
  --text-light-color: 40, 43, 48;
  
  /* General colors */
  --color-span: 219 39 119;
}

body {
  background-color: rgb(var(--background-dark));
  color: rgb(var(--text-dark-color));
  font-family: 'Poppins', sans-serif;
}