@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dark mode colors */
  --background-dark: 40, 43, 48;
  --text-dark-color: 206, 206, 206;
  
  /* Light mode colors */
  --background-light: 206, 206, 206;
  --text-light-color: 40, 43, 48;
  
  /* General colors */
  --color-span: 219 39 119;
}

body {
  background-color: rgb(var(--background-dark));
  color: rgb(var(--text-dark-color));
}