@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors */
:root {
  --background-color: #282b30;
  --text-color: #cecece;
  --color-span: #db2777;
  --color-span-secondary: #bd1a81;
}

/* Light mode colors */
.light {
  --background-color: #cecece;
  --text-color: #282b30;
  --color-span: #db2777;
  --color-span-secondary: #bd1a81;
}

body {
  background: linear-gradient(0deg, var(--background-color) 80%, var(--color-span));
  color: var(--text-color);
}