.footer {
    padding: 15px 23px;
    color: black;
    text-align: center;
    background-color: #fff;
    height: 2.5rem;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
}

.accent {
    color: rgb(219 39 119);
}

.btn {
  background-color: #fbc2de;
  border-radius: 100px;
  box-shadow: rgba(187, 44, 156, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 180, 0.15) 0 1px 2px,rgba(187, 44, 180, 0.15) 0 2px 4px,rgba(187, 44, 180, 0.15) 0 4px 8px,rgba(187, 44, 180, 0.15) 0 8px 16px,rgba(187, 44, 180, 0.15) 0 16px 32px;
  color: rgb(255, 0, 204);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(187, 44, 182, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 139, 0.25) 0 1px 2px,rgba(187, 44, 139, 0.25) 0 2px 4px,rgba(187, 44, 139, 0.25) 0 4px 8px,rgba(187, 44, 139, 0.25) 0 8px 16px,rgba(187, 44, 139, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}