.searchBar {
    border-radius: 20px;
    border: 1px solid white;
    padding: 12px 10px 14px 60px;
    position: absolute;
    top: 30px;
    left: 450px;
    width: 460px;
    background-color: var(--background-color);
}

.icon {
    position: absolute;
    top: 42px;
    left: 470px;
    z-index: 1;
}