.sidebarContainer {
    background-color: black;
    color: white;
    padding: 10px;
    width: 250px;
    height: 100vh;
    margin-right: 1270px;
    float: left;
}

.linksContainer {
    background-color: rgb(var(--background-dark));
    border-radius: 15px;
    width: 228px;
    padding: 10px;
}

.sidebarLi {
    padding: 15px;
    font-size: 18px;
}

.sidebarLi:hover {
    background-color: rgb(var(--color-span-secondary));
    border-radius: 15px;
}

.icon {
    float: left;
    margin-right: 20px;
}