.title {
    text-align: center;
    color: white;
    font-size: 40px;
}

.spanned {
    color: var(--color-span);
}

.paragraphe {
    text-align: center;
    color: white;
    font-size: 20px;
}

.container {
    margin-top: 200px;
    padding: 50px;
    text-align: center;

    /* Glass effect */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.logo {
    position: absolute;
}